/* 
+++++++++++++++
reset
+++++++++++++++
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 
+++++++++++++++
utility
+++++++++++++++
*/
body {
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.flex {
    display: flex;
}

.row {
    flex-direction: column;
}

.space-b {
    justify-content: space-between;
}

/* 
+++++++++++++++
menu container
+++++++++++++++
*/
.large-container {
    /* contenitore main  */
    height: calc(100vh - 90px);

}

#menu-container {
    width: 50px;
    /* menu laterale  */
    padding: 0 25px;
    background-color: black;
    align-items: center;
    overflow: hidden;
    height: 100%;
}

.menu-spotify,
.playlist,
.user div:first-child span {
    opacity: 0.5;
}

.menu-spotify:hover,
.playlist:hover,
.user div:first-child span:hover {
    opacity: 1;
}


.playlist,
#menu-container span,
#menu-container hr {
    display: none;
}

#menu-container .menu li {
    margin-bottom: .3125rem;
    /* spazi li menu laterale  */
}

#menu-container .menu li:first-child {
    margin-top: .3125rem;
}

#menu-container .menu .menu-spotify img,
#menu-container .user img {
    width: 30px;
}

#menu-container .user div:first-child img {
    width: 25px;
    padding-bottom: 5px;
}

#menu-container .user .user-name {
    padding: 5px;
    background-color: grey;
    border-radius: 50%;
}


.playlist h4 {
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.user {
    margin-top: auto;
    margin-bottom: 10px;
}

.user img {
    margin-right: 5px;
}



#logo1 {
    margin-top: 5px;
}

#logo2 {
    width: 135px;
    display: none;
}

span {
    padding: 5px;
}
.menu-spotify{
    position: relative;
}
.green-hover-menu{
    background-color: yellowgreen;
    height: 30px;
    width: 2px;
    border-radius: 20px;
    display: none;
    position: absolute;
    opacity: inherit;
}

.menu-spotify li:hover .green-hover-menu {
    display: block;
}

#btn-playlist {
    padding: 5px 10px;
    font-size: 30px;
    font-weight: 600;
}

.scroll a {
    line-height: 1.5;
}

.playlist {
    margin-top: 10px;
    overflow-y: hidden;
    flex-grow: 1;
    min-height: 100px;
}

.scroll {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 5px;
    /* scroll menu  */
}

hr {
    width: 11.25rem;
    margin: 10px auto;
}

@media screen and (min-width:552px) {

    #menu-container span,
    #menu-container hr {
        display: block;
    }

    .playlist {
        display: flex;
        flex-direction: column;
    }

    #menu-container {
        width: 230px;
        align-items: flex-start;
        padding: 0 .9375rem;
    }

    #big-content-container {
        width: calc(100% - 230px);
    }

    #logo1 {
        display: none;
    }

    #logo2 {
        display: block;
    }

    .logo {
        height: 90px;
        display: flex;
        align-items: center;
    }
}


/* 
+++++++++++++++
content container
+++++++++++++++
*/
#big-content-container {
    /* contenitore content main  */
    padding: 0 35px 0 10px;
    overflow: auto;
    background-color: #141922;
    color: white;
}

/* 
+++++++++++++++
upgrade
+++++++++++++++
*/


#sez-upgrade {
    background-color: rgba(8, 11, 18, 0.5);
    height: 90px;
    justify-content: flex-end;
    align-items: center;
    padding: 1.25rem .625rem 1.75rem;
    position: absolute;
    right: 0;
    left: 50px;
    top: 0;
}


.btn-upgrade {
    border: 1px solid white;
    padding: .625rem 2.1875rem;
    border-radius: 1.25rem;
    background-color: rgb(8, 11, 18);
    margin-right: 20px;
}

#white-btn-upgrade {
    color: white;
    opacity: inherit;
}

@media screen and (min-width:552px) {
    #sez-upgrade {
        position: absolute;
        right: 0;
        left: 230px;
        top: 0;
    }
}

/* 
+++++++++++++++
esplora menu
+++++++++++++++
*/
#esplora-menu {
    margin-top: 5.625rem;
}

.lista-esplora {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: .625rem;
}

.lista-esplora li {
    padding: .625rem;
    position: relative;
}

.lista-esplora li a {
    opacity: 0.5;
}

.green-hover {
    background-color: yellowgreen;
    height: 3px;
    width: 30px;
    border-radius: 20px;
    display: none;
    position: absolute;
    opacity: inherit;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.lista-esplora li:hover .green-hover {
    display: block;
}

.lista-esplora li a:hover {
    opacity: 1;
}

/* 
+++++++++++++++
brani recenti
+++++++++++++++
*/
#big-content-container img {
    width: 100%;
}

#recent-play .track-box {
    flex-wrap: wrap;

}

#recent-play .box {
    width: calc(100% / 2);
    padding: 5px;
    text-align: center;
}

h2,
#artisti-popolari h5,
#recent-play h5,
#scelti-per-te h5 {
    padding-left: 5px;
}

#artisti-popolari .track-box,
#recent-play .track-box,
#scelti-per-te .box {
    margin-top: 20px;
}

#artisti-popolari .track-box h3,
#recent-play .track-box h3,
#scelti-per-te .box h3 {
    margin: .3125rem 0;
}

#artisti-popolari h5,
#recent-play h5,
#scelti-per-te h5 {
    opacity: 0.5;
}

#artisti-popolari h5,
#scelti-per-te h5 {
    margin-top: .9375rem;
}
.box-img{
    position: relative;
}

#hover-play{
    font-size: 70px;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    transform: translate(-50%, -50%);
}

.box-img:hover #hover-play{
    display: block;
}

@media screen and (min-width:640px) {
    #recent-play .box {
        width: calc(100% / 4);
    }

}

@media screen and (min-width:878px) {
    #recent-play .track-box {
        flex-wrap: nowrap;
    }
}

/* 
+++++++++++++++
scelti per te
+++++++++++++++
*/

#scelti-per-te .box {
    padding: 5px;
    text-align: center;
}


/* 
+++++++++++++++
artisti popolari
+++++++++++++++
*/


#artisti-popolari .box {
    padding: 5px;
    text-align: center;
}

#artisti-popolari .box img {
    border-radius: 50%;
}

/* 
+++++++++++++++++++++
margini sezioni track
+++++++++++++++++++++
*/

#recent-play,
#scelti-per-te,
#artisti-popolari {
    margin-top: 2.5rem;
}


/* 
+++++++++++++++
Footer
+++++++++++++++
*/

footer {
    height: 90px;
    background-color: #282828;
    color: white;
    align-items: center;

}
#canzone-in-play-center{
    width: 40%;
}
#canzone-in-play-left,
#canzone-in-play-right{
    width: 30%;
}

.track-box{
    padding-left: 10px;
}

#canzone-in-play-center ul {
    justify-content: center;
    align-items: center;
}

#canzone-in-play-center ul li {
    padding: 0.625rem;
}

#canzone-in-play-right i,
#canzone-in-play-center ul li
{
    font-size: 12px;
}

#play {
    font-size: 30px;
    vertical-align: middle;
    margin: 0 10px;
    font: 40px;
}

#canzone-in-play-left img {
    height: 30px;
    width: 30px;
}

#nome-brano-play {
    padding-left: 10px;
}

#canzone-in-play-left .box {
    align-items: center;
}

#raccolta {
    padding-left: 20px;
}

#canzone-in-play-right {
    padding-left: 10px;
    justify-content: flex-end;
}
.min-song{
    max-width: 420px;
    margin: 0 auto;
}

.bar {
    height: 4px;
    background-color: #5A5A5A;
    flex-grow: 3;
    margin: .625rem .9375rem 0 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bar.small {
    flex-grow: 1;
    max-width: 30px;
    background-color: #C1C1C1;
    margin: .625rem 0 0 .9375rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
}

#canzone-in-play-right .bar {
    height: 4px;
    background-color: #5A5A5A;
    flex-grow: 3;
    max-width: 120px;
    margin: .625rem .9375rem 0 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#canzone-in-play-right .bar.small {
    flex-grow: 1;
    max-width: 30px;
    background-color: #C1C1C1;
    margin: .625rem 0 0 .9375rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.hover-ball {
    background-color: yellowgreen;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: -5px;
    display: none;
}

.min-song:hover .hover-ball {
    display: block;
}

.bar-vol:hover .hover-ball {
    display: block;
}



