/* 
+++++++++++++++
reset
+++++++++++++++
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
+++++++++++++++
utility
+++++++++++++++
*/
body{
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.row{
    flex-direction: column;
}
.space-b{
    justify-content: space-between;
}

/* 
+++++++++++++++
menu container
+++++++++++++++
*/
.large-container{               /* contenitore main  */
    height: calc(100vh - 90px);
}

#menu-container{
    width: 3.125rem;
    height: calc(100vh - 90px);            /* menu laterale  */
    padding: 0 1.25rem;
}

.playlist,
#menu-container span,
#menu-container hr
{
    display: none;
}
#menu-container .menu li{
    margin-bottom: .3125rem;                        /* spazi li menu laterale  */
}
#menu-container .menu li:first-child{
    margin-top: .3125rem;
}



@media screen and (min-width:552px) {
    .playlist,
    #menu-container span,
    #menu-container hr{
        display: block;
    }
    #menu-container {
        width: 14.375rem;
    }
    #big-content-container{
        width: calc(100% - 14.375rem);
     }
}

/* 
+++++++++++++++
content container
+++++++++++++++
*/
#big-content-container{
    width: calc(100% - 3.125rem);           /* contenitore content main  */
    overflow: auto;
}

#sez-upgrade{
    background-color: lightgreen;
    height: 5.625rem;
    justify-content: flex-end;
    align-items: center;
}
.btn-upgrade{
    border-color: transparent;
    border: 1px solid black;
    padding: .625rem 1.25rem;
    border-radius: 1.25rem;
}
/* 
+++++++++++++++
esplora menu
+++++++++++++++
*/



#esplora-menu{
    background-color: pink;
}

.lista-esplora{
    justify-content: center;
    text-transform: uppercase;
    flex-wrap: wrap;
   
}
.lista-esplora li{
    width: calc(100% / 4);                   /* esplora menu  */
    text-align: center;
    padding: .625rem;
}

@media screen and (min-width:552px) {
    .lista-esplora li{
        width: calc(100% / 3);                  
        text-align: center;
        padding: .625rem;
    }
}

@media screen and (min-width:640px) {
    .lista-esplora li{
        width: calc(100% / 5);
        text-align: center;
        padding: 10px;
    }
}

@media screen and (min-width:878px) {
    .lista-esplora li{
        width: 100%;
        padding: .625rem;
    }
    .lista-esplora{
        flex-wrap: nowrap;
    }
    #menu-lista-esplora{
        max-width: 650px;
        margin: 0 auto;
    }
}

/* 
+++++++++++++++
brani recenti
+++++++++++++++
*/
#recent-play .track-box{
    flex-wrap: wrap;
}

#recent-play .box{
    border: 2px solid red;
    width: calc(100% / 2);
    height: 100px;
    padding: 10px;
    text-align: center;
}
@media screen and (min-width:640px) {
    #recent-play .box{
        width: calc(100% / 4);
    }
    
}

@media screen and (min-width:878px) {
    #recent-play .box{
        width: 100%;
    }
    #recent-play .track-box{
        flex-wrap: nowrap;
    }
}

/* 
+++++++++++++++
scelti per te
+++++++++++++++
*/

#scelti-per-te .box{
        border: 2px solid red;
        height: 100px;
        padding: 10px;
        text-align: center;
}


/* 
+++++++++++++++
artisti popolari
+++++++++++++++
*/

#artisti-popolari .box{
    border: 2px solid red;
    height: 100px;
    padding: 10px;
    text-align: center;
}
/* 
+++++++++++++++
Footer
+++++++++++++++
*/

footer{
    height: 90px;
    background-color: gold;
    align-items: center;
}