/* 
+++++++++++++++
reset
+++++++++++++++
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
+++++++++++++++
utility
+++++++++++++++
*/
body{
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.row{
    flex-direction: column;
}
.space-b{
    justify-content: space-between;
}

/* 
+++++++++++++++
menu container
+++++++++++++++
*/
.large-container{               /* contenitore main  */
    height: 100vh;
}

#menu-container{
    width: 3.125rem;
    height: 100%;              /* menu laterale  */
    padding: 0 1.25rem;
}

.playlist,
#menu-container span,
#menu-container hr
{
    display: none;
}
#menu-container .menu li{
    margin-bottom: .3125rem;                        /* spazi li menu laterale  */
}
#menu-container .menu li:first-child{
    margin-top: .3125rem;
}

#big-content-container{
    width: calc(100% - 3.125rem);           /* contenitore content main  */
    overflow: auto;
}


@media screen and (min-width:552px) {
    .playlist,
    #menu-container span,
    #menu-container hr{
        display: block;
    }
    #menu-container {
        width: 14.375rem;
    }
    #big-content-container{
        width: calc(100% - 14.375rem);
     }
}

/* 
+++++++++++++++
content container
+++++++++++++++
*/

#sez-upgrade{
    background-color: lightgreen;
    height: 5.625rem;
    justify-content: flex-end;
    align-items: center;
}
.btn-upgrade{
    border-color: transparent;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 20px;
}
/* 
+++++++++++++++
esplora menu
+++++++++++++++
*/


.box{
    border: 2px solid red;
    width: 100px;
    height: 100px;
}


#recent-play{
    background-color: pink;
}

.lista-esplora{
    justify-content: center;
    gap: 2.5rem;
    text-transform: uppercase;
    flex-wrap: wrap;
}
